@import "tailwindcss";
@import "@nuxt/ui";

@custom-variant dark (&:where(.dark, .dark *));

@source "../../../components";

/* @theme {
  --color-primary: #1e3a8a;
} */

@layer base {
  html {
    @apply h-[100%];
  }
  body {
    @apply h-[100%] w-full max-w-screen overflow-x-hidden text-[1rem] bg-white text-slate-900 dark:bg-neutral-950 dark:text-slate-200;
  }
}

@layer components {
  body {
    & header {
      @apply bg-stone-300 text-white dark:bg-stone-950 dark:text-slate-300 p-2 w-full flex-0;
    }
    & main {
      @apply w-full max-w-full p-1;
    }
    & footer {
      @apply p-4 bg-stone-400 text-slate-800 dark:bg-stone-950 dark:text-slate-300 w-full flex-0;
    }
  }

  /* Works on Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: theme("colors.slate.950") theme("colors.slate.300");
  }
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  *::-webkit-scrollbar-track {
    background: theme("colors.slate.300");
  }
  *::-webkit-scrollbar-thumb {
    background-color: theme("colors.slate.200");
    border-radius: 20px;
    border: 2px solid theme("colors.slate.950");
  }

  button {
    @apply cursor-pointer active:scale-90;
  }
}
